.container {
  display: 'flex';
  height: '100vh';
  text-align: 'center';
  padding: 10%;
  gap: '1rem';
  text-align: center;
  font-size: var(--font-size-large);
}

.link {
  color: 'var(--color-primary)';
  text-decoration: 'underline';
  font-size: var(--font-size-small);
}
