.postDetails {
  color: var(--color-gray);
  font-size: var(--font-size-small);
  margin: var(--spacing-medium);
  font-style: italic;
}

.linkCategory {
  cursor: pointer;
  color: var(--color-secondary);
}
